%html
    %head
        %link{ :rel => "stylesheet", :href => "/style.css" }
        %title= MainBlog.home_rec["title"]

%h2= MainBlog.home_rec["title"]

- MainBlog.home_rec["content"].each do |section|
    - case get_type(section["$type"])
        - when "paragraph"
            %p= render_section(section["text"])
        - when "heading"
            %h3= section["text"]
        - when "subheading"
            %h4= section["text"]
        - when "image"
            - img = section["text"]
            - link = case img["source"]
                - when "blob"
                    - "https://#{MainBlog.config.pds}/xrpc/com.atproto.sync.getBlob/?cid=#{img["img"]}&did=#{MainBlog.config.repo}"
                - when "url"
                    - img["img"]
            %img{ :src => link, :alt => img["alt"] }

- if posts.length > 0
    %ul
        - posts.each do |post|
            %li
                %a{ :href => at_link_to_real_url(post["uri"]) }= post["value"]["title"]
- else
    %p No More Posts!

- if cursor
    %a{ :href => "/?page=#{cursor}"} More Posts

- if backbutton
    %a{ :href => "javascript:history.go(-1)"} Back

