%p
    - @text.each do |block|
        - content = block["content"]
        - if formatting = block["formatting"]
            - type = get_type(formatting.first["$type"])
            - case type
                - when "bold"
                    %strong= content
                - when "italic"
                    %em= content
                - when "underline"
                    %u= content
                - when "link"
                    %a{ href: formatting.first["href"] }= content
                - else
                    != content
        - else
            != content
